[SddmGreeterTheme]
Name=Simple SDDM
Description=Tema SDDM simples e limpo
Author=Luracore
License=MIT
Type=sddm-theme
Version=1.0
Theme-API=2.0
QtVersion=6
ConfigFile=theme.conf
MainScript=Main.qml
